In [35]:
import pymongo
myclient=pymongo.MongoClient("mongodb://localhost:27017/")
mydb=myclient["mydatabase"]

In [36]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase', 'test_database']

In [4]:

dblist=myclient.list_database_names()

exists

In [13]:
#not showing in database
if 'mydatabase' not in dblist:
    print('exists')

exists

In [5]:
mydb=myclient['mydatabase']
mycol=mydb['customers']
#aint gonna show till has a doc / content

In [6]:
print(mydb.list_collection_names())

[]

In [8]:
#change from 'not in' to 'in' 
collist=mydb.list_collection_names()
if 'customers' not in collist:
    print('exist')

exist

In [9]:
#object id ,,,,insert one
mydict={ "name": "John", "address": "Highway 37" }
x=mycol.insert_one(mydict)
print(x.inserted_id)

5dfc53bed4d38deeec58b46f

In [10]:
#insert many

mylist=[
    { "name": "Amy", "address": "Apple st 652"},
    { "name": "Hannah", "address": "Mountain 21"},
    { "name": "Michael", "address": "Valley 345"},
    { "name": "Sandy", "address": "Ocean blvd 2"},
    { "name": "Betty", "address": "Green Grass 1"},
    { "name": "Richard", "address": "Sky st 331"},
    { "name": "Susan", "address": "One way 98"},
    { "name": "Vicky", "address": "Yellow Garden 2"},
    { "name": "Ben", "address": "Park Lane 38"},
    { "name": "William", "address": "Central st 954"},
    { "name": "Chuck", "address": "Main Road 989"},
    { "name": "Viola", "address": "Sideway 1633"}
]
x=mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('5dfc54a3d4d38deeec58b470'), ObjectId('5dfc54a3d4d38deeec58b471'), ObjectId('5dfc54a3d4d38deeec58b472'), ObjectId('5dfc54a3d4d38deeec58b473'), ObjectId('5dfc54a3d4d38deeec58b474'), ObjectId('5dfc54a3d4d38deeec58b475'), ObjectId('5dfc54a3d4d38deeec58b476'), ObjectId('5dfc54a3d4d38deeec58b477'), ObjectId('5dfc54a3d4d38deeec58b478'), ObjectId('5dfc54a3d4d38deeec58b479'), ObjectId('5dfc54a3d4d38deeec58b47a'), ObjectId('5dfc54a3d4d38deeec58b47b')]

In [14]:
#custom ids for objects
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist=[
    { "_id": 1, "name": "John", "address": "Highway 37"},
    { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
    { "_id": 3, "name": "Amy", "address": "Apple st 652"},
    { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
    { "_id": 5, "name": "Michael", "address": "Valley 345"},
    { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
    { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
    { "_id": 8, "name": "Richard", "address": "Sky st 331"},
    { "_id": 9, "name": "Susan", "address": "One way 98"},
    { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
    { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
    { "_id": 12, "name": "William", "address": "Central st 954"},
    { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
    { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x=mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [37]:
#find n find one to find data in collection
x=mycol.find_one()
print(x)
#this is the first data in collection

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [38]:
for x in mycol.find():
    print(x)
#there is same data with custom id n random id

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'HAALLLOO', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'HAALLLOO', 'address': 'Sideway 1633'}

In [39]:
#for names and addresses , not ids 
for x in mycol.find({},{"_id":0,"name":1, "address": 1}):
    print(x)
 #imp see w3schools on this topic as for 0,1,1  ,,,, as for excluding (while printing ?) n all we have to cahnge the values of 1s n 0s

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Canyon 123'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'HAALLLOO', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'HAALLLOO', 'address': 'Sideway 1633'}

In [40]:
for x in mycol.find({},{"address":0}):
    print(x)

{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'HAALLLOO'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'HAALLLOO'}

In [19]:
for x in mycol.find({},{ "name": 1, "address": 0 }):
    print(x)
#we get an error because of 0s n 1s

OperationFailure: Projection cannot have a mix of inclusion and exclusion.

In [20]:
myquery={"address": "Park Lane 38"}

mydoc=mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5dfc54a3d4d38deeec58b478'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [21]:
#using query , find address starting letter 'S' or higher ,,,, used greater than modifier {"$gt": "S"}
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5dfc54a3d4d38deeec58b472'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b475'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b477'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b47b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [22]:
#find doc where the address starts wiht S
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5dfc54a3d4d38deeec58b475'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b47b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [23]:
#sort ,, default ascending 
mydoc=mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('5dfc54a3d4d38deeec58b470'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b478'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b474'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b47a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b471'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5dfc53bed4d38deeec58b46f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b472'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b475'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b473'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b476'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b477'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b47b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b479'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [24]:
#sort ,, descending 
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5dfc54a3d4d38deeec58b479'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b47b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b477'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b476'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b473'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b475'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b472'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5dfc53bed4d38deeec58b46f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b471'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b47a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b474'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b478'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b470'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [25]:
#delete doc
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

for x in mycol.find():
    print(x)

{'_id': ObjectId('5dfc53bed4d38deeec58b46f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b470'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b472'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b473'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b474'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b475'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b476'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b477'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b478'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b479'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b47a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfc54a3d4d38deeec58b47b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [26]:
#delete many 
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [27]:
#delete all doc in collection
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

22  documents deleted.

In [28]:
#delete collection
mycol.drop()

In [29]:
mylist=[
    { "_id": 1, "name": "John", "address": "Highway 37"},
    { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
    { "_id": 3, "name": "Amy", "address": "Apple st 652"},
    { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
    { "_id": 5, "name": "Michael", "address": "Valley 345"},
    { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
    { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
    { "_id": 8, "name": "Richard", "address": "Sky st 331"},
    { "_id": 9, "name": "Susan", "address": "One way 98"},
    { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
    { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
    { "_id": 12, "name": "William", "address": "Central st 954"},
    { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
    { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x=mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [30]:
#updating data // update collection
#changing address form "Valley 345" to "Canyon 123"

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
#update many
myquery={'address':{"$regex":"^S"}}
newvalues= {"$set":{"name":"HAALLLOO"}}
x=mycol.update_many(myquery,newvalues)
print(x.modified_count,"documents have been updated")

2 documents have been updated

In [41]:
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'HAALLLOO', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'HAALLLOO', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfc6241da15bc2b048c979c'), 'name': 'Hannah45', 'address': 'Mountain 21476'}

In [34]:
#limiting the result ,,, it is like head in pandas
myresult=mycol.find().limit(7)

for x in myresult:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}